body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c20404;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.nav-button {
    display: inline-block;
    background-color: #c20404;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #a10202;
}

footer {
    background-color: #a10202;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
}

button {
    color: white;
    background-color: #f77801;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.motor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;

}

.motor-item {
    background: rgb(175, 3, 3);
    padding: 1em;
    box-shadow: 0 0 10px rgb(247, 244, 244);
    width: 30%;
    text-align: center;
    color: white;
    height: 360px;
    /* contoh tinggi */
    border: 1px solid #ccc;
    /* opsional, untuk memberikan border */
    box-sizing: border-box;
    /* untuk memastikan padding dimasukkan dalam ukuran total elemen */
}


.motor-item img {
    max-width: 100%;
    height: auto;
}

.motor-item img {
    width: 300px;
    /* Set the desired width */
    height: 200px;
    /* Set the desired height */
    object-fit: cover;
    /* Ensure the image covers the given dimensions without distortion */
}

.motor-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}