.container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content {
    margin-top: 2em;
    text-align: center;
}

h2 {
    color: #c20404;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
     max-width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}